#Questions & Answers[THEORY]

**Q1-What are data structures, and why are they important?**
  >Data structures are ways to organize and store data in a computer so it can be used efficiently. They define how data is arranged, accessed, and manipulated, like arrays, linked lists, stacks, queues, trees, graphs, and hash tables. Each structure suits specific tasks; for example, arrays are great for quick access, while trees excel in hierarchical data or searching.

**Q2-Explain the difference between mutable and immutable data types with examples?**
> Mutable Data Types:

  Definition: Mutable data types can be changed after creation. You can modify their content or structure without creating a new object.
  
  Key Characteristics:
   
    >Changes affect the same object in memory.
    
    >Useful when you need to update data frequently.

Examples:
*   **Lists (Python)**: my_list = [1, 2, 3]; my_list[0] = 4 → my_list becomes [4, 2, 3].
*   **Dictionaries (Python)**: my_dict = {'a': 1}; my_dict['a'] = 2 → my_dict becomes {'a': 2}.
*   **Arrays (JavaScript)**: let arr = [1, 2]; arr.push(3) → arr becomes [1, 2, 3].

**Q3-What are the main differences between lists and tuples in Python?**

  >In Python, lists and tuples are sequence data structures that store collections of items, but they have key differences.
*   List itemUse lists for flexible, mutable collections where elements may change.
*   Use tuples for fixed, immutable collections where performance, memory efficiency, or data integrity matters.
*   Both support indexing, slicing, and iteration, but lists offer more modification options, while tuples prioritize stability and speed.

**Q4- Describe how dictionaries store data.**
>In Python, dictionaries store data as a collection of key-value pairs, providing a flexible and efficient way to organize and retrieve data
it is key-value pairs using a hash table for efficient access and modification. Their flexibility and speed make them essential for tasks requiring fast, key-based data retrieval and management.

**Q5-Why might you use a set instead of a list in Python?**
  >In Python, sets and lists are both used to store collections of items, but sets have unique properties that make them preferable in certain situations. Use a set instead of a list when you need unique elements, fast membership testing, or set operations, and when order or duplicates are not important. Sets are optimized for these tasks, offering better performance and cleaner code for specific use cases.

**Q6-What is a string in Python, and how is it different from a list?**
  >A string is a sequence of characters (e.g., letters, numbers, symbols) used to represent text.It is defined using single quotes ('), double quotes ("), or triple quotes (''' or """ for multi-line strings).

*   **Strings**: Immutable sequences of characters for text manipulation, with text-specific methods and efficient for fixed data.


*   **Lists**: Mutable sequences for storing any data type, with flexible modification methods and suited for dynamic collections.

Use strings for text-related tasks (e.g., formatting a message) and lists when you need a modifiable collection of items (e.g., a dynamic list of numbers or objects).

**Q7- How do tuples ensure data integrity in Python?**
  >In Python, tuples ensure data integrity primarily through their immutability, which prevents modifications to their contents after creation. This characteristic, along with other properties, makes tuples a reliable choice for protecting data in specific scenarios.
Tuples ensure data integrity through their immutability, which prevents changes to their structure or elements, making them reliable for fixed data, dictionary keys, or thread-safe contexts. By using tuples with immutable elements, developers can enforce consistency, reduce bugs, and maintain predictable behavior, though care must be taken with mutable objects inside tuples to avoid compromising integrity.

**Q8-What is a hash table, and how does it relate to dictionaries in Python?**
  >A hash table (or hash map) is a data structure that stores data in key-value pairs, allowing for efficient retrieval, insertion, and deletion of data. It works by using a hash function to convert a key into an index (hash value) that points to a location in an array where the corresponding value is stored. A hash table is a data structure that uses a hash function to map keys to values for efficient O(1) operations. Python dictionaries are built on hash tables, using them to store key-value pairs with fast lookup, insertion, and deletion. The hash table’s hashing mechanism ensures that dictionary keys are unique and hashable, enabling rapid access and making dictionaries a powerful tool for data management in Python.

**Q9-Can lists contain different data types in Python?**
  >Yes, lists in Python can contain different data types. They are flexible and can store elements of any type, including integers, strings, floats, other lists, dictionaries, tuples, or even custom objects, all within the same list. This flexibility makes lists ideal for storing diverse data, such as user inputs, mixed collections, or nested structures, though it may require type checking when processing elements.

**Q10-Explain why strings are immutable in Python.**
  >Strings are immutable, meaning their content cannot be changed after they are created. This design choice is driven by several technical and practical reasons that enhance Python's performance, reliability, and usabilityStrings are immutable in Python to ensure hashability for dictionary keys and sets, memory efficiency through interning, thread safety in concurrent programs, performance via cached hash values, and data integrity for reliable text handling. This design choice aligns with Python’s philosophy of predictability and safety, making strings robust for tasks like identifiers, keys, or fixed data, Tasnim, while requiring developers to use efficient techniques for string modifications.

**Q11-What advantages do dictionaries offer over lists for certain tasks?**
  >Dictionaries and lists are both versatile data structures, but dictionaries offer distinct advantages over lists for certain tasks due to their key-value pair structure and hash table implementation. Dictionaries outperform lists for tasks involving key-based lookups, unique mappings, sparse data, or key-value relationships due to their O(1) efficiency, descriptive keys, and built-in methods. They are ideal for scenarios like mapping IDs to values, counting occurrences, or storing structured data, while lists are better for ordered, index-based, or duplicate-heavy collections. By leveraging hash tables, dictionaries provide speed and clarity for associative data tasks.

**Q12-Describe a scenario where using a tuple would be preferable over a list?**
  >Context: Imagine you’re writing a Python program that connects to a database to retrieve user data. The database connection requires a set of fixed parameters: the host, port, and database name. These parameters should remain constant throughout the program’s execution to ensure consistent and reliable database access.

**Immutability Ensures Data Integrity**:

  1) The database configuration (host, port, db_name) should not change during runtime to avoid connection errors. A tuple’s immutability prevents accidental modifications.
  
  2) Example: If a developer tries to change db_config[0], a tuple raises a TypeError, catching the error early. A list would allow db_config[0] = "new_host", which could lead to incorrect connections.

**Thread Safety**:

  1) If the program uses multiple threads (e.g., one thread for database queries, another for logging), a tuple ensures the configuration is thread-safe. Since it cannot be modified, there’s no risk of one thread altering the config while another uses it.

  2) A list, being mutable, could be changed by one thread, causing unpredictable behavior in others.

**Q13-How do sets handle duplicate values in Python?**
  >Sets are designed to store unique elements and automatically handle duplicate values by ensuring that each element appears only once. Here’s how sets manage duplicates and the underlying mechanics. Python sets handle duplicate values by automatically eliminating them using a hash table, ensuring each element is unique. When an element is added, its hash and equality are checked; if it matches an existing element, it’s ignored. This makes sets highly efficient for tasks like deduplication, membership testing, and set operations, with O(1) average-case performance, unlike lists, which allow duplicates and require manual handling.

**Q14-How does the “in” keyword work differently for lists and dictionaries?**
  >The in keyword works differently for lists and dictionaries due to their underlying structures:
  
     > For lists, in performs a linear search (O(n)) to check if an element exists, suitable for ordered collections with any data type.
     > For dictionaries, in performs a hash-based lookup (O(1)) to check if a key exists, optimized for key-value mappings.
     > Use lists when checking membership in sequences with possible duplicates, and dictionaries when checking for keys in large datasets where speed and key-based access are critical.

**Q15-Can you modify the elements of a tuple? Explain why or why not.**
  > You cannot modify the elements of a tuple after it is created because tuples are immutable. This means that once a tuple is defined, its elements, their order, and the tuple's structure cannot be changed—no additions, deletions, or updates to individual elements are allowed. Below, I’ll explain why tuples are immutable, the implications of this property, and a key nuance regarding mutable objects within tuples. Tuples in Python are immutable by design, preventing direct modification of their elements to ensure data integrity, hashability, thread safety, and performance optimization. This immutability means you cannot change a tuple’s elements, order, or size after creation. However, if a tuple contains mutable objects like ascites, those objects can be modified, requiring careful design to maintain full immutability. To modify a tuple, you must create a new tuple, aligning with its intended use as a fixed data structure.

**Q16- What is a nested dictionary, and give an example of its use case?**
  >A nested dictionary is a dictionary inside another dictionary. In Python, this allows you to represent complex hierarchical or structured data using key-value pairs, where the value itself can be another dictionary.

In [ ]:
students = {
    "101": {
        "name": "Alice",
        "age": 14,
        "grades": {
            "Math": 88,
            "English": 92,
            "Science": 85
        }
    },
    "102": {
        "name": "Bob",
        "age": 15,
        "grades": {
            "Math": 78,
            "English": 80,
            "Science": 89
        }
    }
}

**Q17-Describe the time complexity of accessing elements in a dictionary?**
  >Accessing an element in a Python dictionary (or a hash table in general) typically has a time complexity of O(1) on average. This means that the time it takes to retrieve a value associated with a key remains constant regardless of the dictionary's size.

**Q18- In what situations are lists preferred over dictionaries?**
  >Lists are preferred over dictionaries when the order of elements is crucial, when you need to store duplicate values, or when you need to iterate through elements sequentially using indices. Dictionaries, on the other hand, are favored for scenarios requiring quick lookups based on unique keys, data mapping, and situations where the order of elements is not important.

**Q19-Why are dictionaries considered unordered, and how does that affect data retrieval?**
  >Dictionary is a data structure which is a important value structure, optimized for fast storage and recovery based on key. In python, dictionaries are un-ordered because Python dictionaries are not intended to be in order, as simple as that.dictionaries are un-ordered because Python dictionaries are not intended to be in order, as simple as that. If we want to collect a set of objects in order, we have only one choice of accessing them: through index.

**Q20- Explain the difference between a list and a dictionary in terms of data retrieval.**
  >A list is an ordered collection of items, whereas a dictionary is an unordered data collection in a key: value pair. Elements from the list can be accessed using the index, while the elements of the dictionary can be accessed using keys.

#Questions & Answers[PRACTICALS]

**Q1-Write a code to create a string with your name and print it?**

In [ ]:
# Create a string with your name
name = "Sudhanshu Shukla"

# Print the string
print("My name is:", name)

My name is: Sudhanshu Shukla

**Q2-Write a code to find the length of the string "Hello World"?**

In [ ]:
text = "Hello World"
length = len(text)
print("Length of the string is:", length)

Length of the string is: 11

**Q3-Write a code to slice the first 3 characters from the string "Python Programming".**

In [ ]:
text = "Python Programming"

first_three = text[:3]


print("First 3 characters:", first_three)

First 3 characters: Pyt

**Q4-Write a code to convert the string "hello" to uppercase.**

In [ ]:
text = "hello"


upper_text = text.upper()


print("Uppercase:", upper_text)

Uppercase: HELLO

**Q5-Write a code to replace the word "apple" with "orange" in the string "I like apple".**

In [ ]:

text = "I like apple"

new_text = text.replace("apple", "orange")

print("Updated string:", new_text)

Updated string: I like orange

**Q6-Write a code to create a list with numbers 1 to 5 and print it.**

In [ ]:
numbers = [1, 2, 3, 4, 5]

print("List of numbers:", numbers)

List of numbers: [1, 2, 3, 4, 5]

**Q7-Write a code to append the number 10 to the list [1, 2, 3, 4].**

In [ ]:

numbers = [1, 2, 3, 4]


numbers.append(10)


print("Updated list:", numbers)

Updated list: [1, 2, 3, 4, 10]

**Q8-Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].**

In [ ]:
numbers = [1, 2, 3, 4, 5]

numbers.remove(3)

print("Updated list:", numbers)

Updated list: [1, 2, 4, 5]

**Q9-Write a code to access the second element in the list ['a', 'b', 'c', 'd'].**

In [ ]:
letters = ['a', 'b', 'c', 'd']

second_element = letters[1]

print("Second element:", second_element)

Second element: b

**Q10-Write a code to reverse the list [10, 20, 30, 40, 50].**

In [ ]:
numbers = [10, 20, 30, 40, 50]

numbers.reverse()

print("Reversed list:", numbers)

Reversed list: [50, 40, 30, 20, 10]

**Q11-Write a code to create a tuple with the elements 100, 200, 300 and print it.**

In [ ]:
my_tuple = (100, 200, 300)

print("Tuple:", my_tuple)

Tuple: (100, 200, 300)

**Q12-Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').**

In [ ]:
colors = ('red', 'green', 'blue', 'yellow')

second_last = colors[-2]

print("Second-to-last element:", second_last)

Second-to-last element: blue

**Q13-Write a code to find the minimum number in the tuple (10, 20, 5, 15).**

In [ ]:
numbers = (10, 20, 5, 15)

min_value = min(numbers)

print("Minimum number:", min_value)

Minimum number: 5

**Q14-Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').**

In [ ]:
animals = ('dog', 'cat', 'rabbit')

index_of_cat = animals.index('cat')

print("Index of 'cat':", index_of_cat)

Index of 'cat': 1

**Q15-Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.**

In [ ]:
fruits = ('apple', 'banana', 'orange')

if 'kiwi' in fruits:
    print("Kiwi is in the tuple.")
else:
    print("Kiwi is not in the tuple.")

Kiwi is not in the tuple.

**Q16-Write a code to create a set with the elements 'a', 'b', 'c' and print it.**

In [ ]:
my_set = {'a', 'b', 'c'}

print("Set:", my_set)

Set: {'b', 'a', 'c'}

**Q17- Write a code to clear all elements from the set {1, 2, 3, 4, 5}.**

In [ ]:
numbers = {1, 2, 3, 4, 5}

numbers.clear()

print("Cleared set:", numbers)

Cleared set: set()

**Q18-Write a code to remove the element 4 from the set {1, 2, 3, 4}.**

In [ ]:
numbers = {1, 2, 3, 4, 5}

numbers.remove(4)

print("Cleared set:", numbers)

Cleared set: {1, 2, 3, 5}

**Q19-Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.**

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

union_set = set1.union(set2)

print("Union of sets:", union_set)

Union of sets: {1, 2, 3, 4, 5}

**Q20-Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.**

In [ ]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}

intersection_set = set1.intersection(set2)

print("Intersection of sets:", intersection_set)

Intersection of sets: {2, 3}

**Q21-Write a code to create a dictionary with the keys "name", "age", and "city", and print it.**

In [ ]:
person = {
    "name": "Alice",
    "age": 25,
    "city": "New York"
}

print("Dictionary:", person)

Dictionary: {'name': 'Alice', 'age': 25, 'city': 'New York'}

**Q22- Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}..**

In [ ]:
person = {'name': 'John', 'age': 25}

person['country'] = 'USA'

print("Updated dictionary:", person)

Updated dictionary: {'name': 'John', 'age': 25, 'country': 'USA'}

**Q23-Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}..**

In [ ]:
person = {'name': 'Alice', 'age': 30}

name_value = person['name']

print("Name:", name_value)

Name: Alice

**Q24-Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}..**

In [ ]:
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}

del person['age']

print("Updated dictionary:", person)

Updated dictionary: {'name': 'Bob', 'city': 'New York'}

**Q25-Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.**

In [ ]:
person = {'name': 'Alice', 'city': 'Paris'}

if 'city' in person:
    print("The key 'city' exists in the dictionary.")
else:
    print("The key 'city' does not exist in the dictionary.")

The key 'city' exists in the dictionary.

**Q26-Write a code to create a list, a tuple, and a dictionary, and print them all.**

In [ ]:
my_list = [1, 2, 3, 4, 5]

my_tuple = ('apple', 'banana', 'cherry')

my_dict = {'name': 'Alice', 'age': 30, 'city': 'Paris'}

print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'Alice', 'age': 30, 'city': 'Paris'}

**Q27-Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)**

In [ ]:
import random

random_numbers = [random.randint(1, 100) for _ in range(5)]

random_numbers.sort()

print("Sorted random numbers:", random_numbers)

Sorted random numbers: [3, 6, 69, 81, 96]

**Q28-Write a code to create a list with strings and print the element at the third index.>**

In [ ]:
fruits = ['apple', 'banana', 'cherry', 'date', 'elderberry']

print("Element at index 3:", fruits[3])

Element at index 3: date

**Q29-Write a code to combine two dictionaries into one and print the result.**

In [ ]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

combined_dict = {**dict1, **dict2}

print("Combined dictionary:", combined_dict)

Combined dictionary: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

**Q30-Write a code to convert a list of strings into a set.**

In [ ]:
string_list = ['apple', 'banana', 'cherry', 'apple', 'banana']

string_set = set(string_list)

print("Set:", string_set)

Set: {'apple', 'cherry', 'banana'}